name: Android CI

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Điền Package Name (Ví dụ: com.garena.game.kgvntest)'
        required: true
        default: 'com.garena.game.kgvntest'
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
