name: Android CI

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Package Name của bản Test'
        required: true
        default: 'com.garena.game.kgvntest'
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Build Module
        run: ./gradlew assembleRelease

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Zygisk-Module-LienQuan
          path: "**/*.zip"
